* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.newsletter {
  text-align: center;
}
.button {
  text-align: center;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: cornsilk;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

nav {
  background-color: cornsilk;
}

nav a {
  display: inline-block;
  margin: 1rem;
  padding: 0.25rem;
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

nav a.active {
  color: white;
  background: tomato;
}

#home {
  height: 50vh;
  min-height: 400px;
  background-color: cornsilk;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}
